<div class="modal fade" id="addNoteModal" tabindex="-1" role="dialog" aria-labelledby="addNoteModalLabel" aria-hidden="true">
    <form class="modal-dialog" role="document" method="POST" action="/note/add">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add note</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="noteTitle" class="col-form-label">Note Title</label>
                    <input type="text" class="form-control" id="noteTitle" name ="noteTitle" required>
                </div>
                <div class="form-group">
                    <label for="noteDescription" class="col-form-label">Note Description</label>
                    <textarea class="form-control" id="noteDescription" name ="noteDescription" required></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </form>
</div>