{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">Your notes</h1>
    <ul>
        {% for note in notes %}
            <li>
                <a>
                    <button class="btn btn-sm">X</button>
                    <h4>{{ note.title }}</h4>
                    <p>{{ note.description }}</p>
                </a>
            </li>
        {% endfor %}
    </ul>
    <div class="text-center py-3">
        <button type="button" class="btn btn-primary btn-lg">New note</button>
    </div>
{% endblock %}